@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Exo:400,500,500italic,400italic,600,600italic,700,700italic,800,800italic,300,300italic);
/* CSS Document */
body {
    background-image: url(images/grup/fondomuse.jpg) ;
	background-attachment: fixed ;
    background-size: cover ;
    margin: 0px;
}
/*Banner de la página--------------------*/
div#banner {
    width: 550px ;
    margin: 0 auto;
}
/*Fin del banner de la página*/
/*Menú-----------------------------------*/
body {
    font-size: 28px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }
/*Fin del Menú----------------------------*/
/*Contenido de la página------------------*/
div#contenedor {
    background-color: #CCCCCC ;
    width: 1000px ;
    margin: 5px auto ;
    border-radius: 2px ;
	box-shadow: 1px 1px 10px;
	position: relative ;
}
/*posible fin del copiado para todos los html*/
div#cabeza1 {
    padding-top: 10px ;
    width: 164px ;
    font-family: 'Special Elite', cursive ;
    margin: 0 auto ;
    margin-bottom: 0px ;
}
div#cabeza1 h2 {
    margin: 5px 0px ;
    color: #FFFFFF ;
}
div#estr1 {
    padding-top: 10px ;
    margin: 0px 20px ;
}
div#estr1 img {
    float: left ;
}
div#hist {
    width: 520px ;
    padding: 0px 29px ;
    float: left ;
    border: solid 1px ;
    background-color: #EEEEEE ;
}
div#hist p {
    margin: 5px 0px ;
    font-size: 14px ;
    font-family: "Trebuchet MS", Helvetica, sans-seriff ;
    text-align: justify ;
}
div#estr2{
	padding: 5px 0px ;
}
div#lanz {
	width: 460px ;
	float: left ;
    padding-top: 10px ;
    margin: 0px 20px ;
}
div#cabeza2 {
    padding-top: 10px ;
    width: 263px ;
    font-family: 'Special Elite', cursive ;
    margin: 0 auto ;
    margin-bottom: 0px ;
}
div#cabeza2 h2 {
    margin: 5px 0px ;
    color: #FFFFFF ;
}
div#lanz img {
	padding-top: 10px ;
}
div#lanz iframe{
    padding-top: 10px ;
}
div#tour{
	width: 460px ;
	float: left ;
    padding-top: 10px ;
    margin: 0px 20px ;
	position: relative ;
}
div#death{
	width: 200px ;
	position: absolute ;
	left: 125px ;
	top: 105px ;
	opacity: 0.2 ;
}
div#cabeza3 {
    padding-top: 10px ;
    width: 273px ;
    font-family: 'Special Elite', cursive ;
    margin: 0 auto ;
    margin-bottom: 0px ;
}
div#cabeza3 h2 {
    margin: 5px 0px ;
    color: #FFFFFF ;
}
div#conciertos {
	margin-top: 15px ;
	background-color: #EEEEEE ;
}
div#conciertos div{
	padding: 5px ;
}
div#prim{
	font-family: 'Metamorphous', cursive ;
	color: #FFFFFF ;
	background-color: #7A7A7A ;
}
div.spans{
	font-family: "Trebuchet MS", Helvetica, sans-seriff ;
}
div#conciertos div span.uno{
	padding-left: 20px ;
	display: inline-block ;
	width: 163px ;
}
div#conciertos div span.dos{
	padding-left: 15px ;
}
div#arm{
	position: absolute ;
	left: 760px ;
	bottom: 0px ;
	z-index: 10 ;
}
div#cabeza4 {
    padding-top: 10px ;
    width: 193px ;
    font-family: 'Special Elite', cursive ;
    margin: 0px 40px ;
    margin-bottom: 0px ;
}
div#cabeza4 h2 {
    margin: 10px 0px ;
    color: #FFFFFF ;
}
div#red{
    width: 133px ;
    margin-left: 60px;
}
div#red img{
    width: 140px ;
}

.pie {
    background-color: #d3dff0;
    color: #838086;
}

.pie p {
    text-align: right;
    font-weight: bold;
    padding-top: 2px;
    padding-right: 4px;
}

.logo {
    float: left;
    padding-top: 4px;
    padding-left: 5px;
}

.datos {
    float: right;
    padding-top: 5px;
}

.login {
    margin: 20px auto;
    width: 300px;
    }
    .login-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px
    }
    
    .app-title {
    text-align: center;
    color: #777;
    }
    
    .login-form {
    text-align: center;
    }
    .control-group {
    margin-bottom: 10px;
    }
    
    input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
    }
    
    input:focus {
    border: 2px solid #3498DB;
    box-shadow: none;
    }
    
    .btn {
      border: 2px solid transparent;
      background: #3498DB;
      color: #ffffff;
      font-size: 16px;
      line-height: 25px;
      padding: 10px 0;
      text-decoration: none;
      text-shadow: none;
      border-radius: 3px;
      box-shadow: none;
      transition: 0.25s;
      display: block;
      width: 250px;
      margin: 0 auto;
    }
    
    .btn:hover {
      background-color: #2980B9;
    }
    
    .login-link {
      font-size: 12px;
      color: #444;
      display: block;
        margin-top: 12px;
    }